#sidebar{
    float: left;
    height: 100vh;
    width: 17%;
    border-right:1px solid gainsboro;
    position:fixed;
}

#homebar{
    float: right;
    overflow:hidden;
    padding:5px;
    width: 79%;
    border-bottom: 1px solid gainsboro;
}

#thome{
    margin-left: 6px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: Helvetica Neue;
}

.sbicons{
    float: left;
    margin-left: 10px;
    height:28px;
    padding:7.7px;
    filter:  brightness(45%) grayscale(100%); 
}

.sbicons:hover{
    background-color: #E8F5FE;
    filter: none;
    border-radius: 100%;
}

.sbicons:active{
    background-color:#E8F5FE;
    filter: none;
}

#bird{
    filter: none;
}

#write{
    filter: none;
    margin-left:0px;
    height: 53px;
 }

#pfp{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left:2px;
    margin-bottom: 13px;
    height: 39px;
    border-radius: 100%;
    filter: none;
}

#preficon{
    height: 30px;
    float: right;
    margin-bottom: 5px;
}
#wh{
    margin: 10px;
    float:right;
    width: 78%;
    border-bottom: 7px solid gainsboro;
}

#wh p{
    margin: 5px;
    display: inline-block;
    font-family: Helvetica Neue;
}

#writepfp{
    padding-left: 5px;
    height: 50px;
    border-radius:100%;
}
